<!DOCTYPE html>
<html ng-app = 'moduleApp'>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
        <script src="app.js"></script>
         <link rel="stylesheet" href="style.css">
        <title>Lab1_angular</title>
</head>
<body>
    <div class="text" align="center">
<div ng-controller="controller">
    <h1>Меню вашого сніданку: </h1>
    <input type="text" placeholder="продукти розділені ','" ng-model="items" > <br>
    <button type="button" class="btn btn-outline-dark" ng-click="show()" style="margin: 1%">Чи не забагато?</button>
        <div>
            {{result}}
    </div>
</div>
</div>
</body>
</html>